[ilo]
host={{ server.host }}
user={{ server.user }}
pw={{ server.pw }}

[node]
setup_pw={{ server.setup_pw }}
hostname={{ server.hostname }}

[controlnw]
ipv4address={{ server.ipv4address }}
subnetmask={{ server.subnetmask }}
mtu={{ server.mtu }}
route_count={{ server.route_count }}
route_destination1={{ server.route_destination }}
route_gateway1={{ server.route_gateway }}
