[defaults]
library = /home/ubuntu/smci/AnsibleToolkit/toolkit/plugins/modules
module_utils = /home/ubuntu/smci/AnsibleToolkit/toolkit/plugins/module_utils
collections_paths = /home/ubuntu/smci/AnsibleToolkit
host_key_checking = False
deprecation_warnings = False
retry_files_enabled = False
inventory = inventory

[inventory]
enable_plugins = ini